<h2>Edit <%=@figure.name%></h2>

<form action="/figures/<%=@figure.id%>" method="post">
  <input type="hidden" name="_method" value="patch"/>
  
  <label for="figure_name">Figure Name:</label><br/>
  <input type="text" id="figure_name" name="figure[name]" value="<%=@figure.name%>"/>
  <br></br>
  
  <label>Titles:</label><br/>
  <% Title.all.each do |title| %>
    <input type="checkbox" id="<%=title.name%>" name="figure[title_ids][]" value="<%=title.id%>" <%='checked' if @figure.titles.include?(title)%>/>
    <label for="<%=title.name%>"><%=title.name%></label><br/>
  <% end %><br/>
  
  <label for="new_title">Create New Title:</label><br/>
  <input type="text" id="new_title" name="title[name]" placeholder="Enter title"/>
  <br></br>
  
  <label>Landmarks:</label><br/>
  <% Landmark.all.each do |landmark| %>
    <input type="checkbox" id="<%=landmark.name%>" name="figure[landmark_ids][]" value="<%=landmark.id%>" <%='checked' if @figure.landmarks.include?(landmark)%>/>
    <label for="<%=landmark.name%>"><%=landmark.name%></label><br/>
  <% end %><br/>
  
  <label>Create New Landmark:</label><br/>
  <label for="new_landmark">Name:</label><br/>
  <input type="text" id="new_landmark" name="landmark[name]" placeholder="Enter name"/>
  <label for="new_year">Year Completed:</label><br/>
  <input type="text" id="new_year" name="landmark[year_completed]" placeholder="Enter year completed"/>
  <br></br>
  
  <input type="submit" value="Edit Figure"/>
</form>